.list-container {
  min-width: 300px;
  margin-right: 20px;
}

.list {
  margin-top: 0;
  list-style-type: none;
}

.list-item {
  padding: 15px;
  border: 1px solid lightgray;
  background-color: white;
}

.active {
  background-color: lightgray;
}